<link rel="stylesheet" href="/stylesheets/style.css" />
<script type="text/javascript" src="player.js"></script>

<h1>Liste musicale</h1>
<div id="mainDiv">
<% if (musicFileList.length == 0) { %>
Pas de musique !
<% } else { %>
	<ul>
		<% genreList.forEach(function(genre) { %>
		<li style="display: inline">
			<button onclick="filterByGenre('<%= genre %>')"><%= genre %></button>
		</li>
		<% }); %>
	</ul> 

	<audio id="audioPlayer"></audio>
	<ul id="musicList">
		<% musicFileList.forEach(function(musicFile) { %>
			<li>
				<span style="display:none"><%= musicFile.genre %></span>
				<span><%= musicFile.path %></span>
				<span><button onclick="play('audioPlayer', '<%= musicFile.path %>', this)">Play</button></span>
			</li> 
		<% }); %>
	</ul>
</div>
<% } %>
